<%- include('partials/header') %>

  <div id="device" class="logged">
    <%- include('partials/sidebar') %>
      <%- include('partials/bottom-nav') %>
  </div>
  </div>

  <%- include('partials/footer') %>