<!-- Rodapé do Sistema -->
 <footer class="app-footer">
    <div class="footer-container">
        <p>&copy; 2026 BrPec Agropecuária. Desenvolvido poelo Grupo 3 (syntech)</p> <!-- &copy; serve para colocar o símbolo de direitos autorais (copyright) © em páginas da web-->
        <div class="footer-meta">
            <span class="badge-offline" id="onlineStatus">Online</span>
            <span class="app-version">v0.0 - Sprint 4</span>
        </div>
    </div>
 </footer>

 <!-- Script JS para Sincronização com o Banco de Dados local -->
 <script src="/public/app.js"></script>

</body>
</html>
